.alert.alert-success
  %strong Success!
  Indicates a successful or positive action.

%br

%input{:checked => "checked", "data-off" => "false", "data-offstyle" => "danger", "data-on" => "true", "data-onstyle" => "success", "data-toggle" => "toggle", :type => "checkbox", id:"btn"}
